<h1>All opps...</h1>



    <div class="container">
        <!-- TODO jumbotron here-->
        
        
        <div class="row">
            <% opps.forEach(function(opps){ %>
                <div class="col-md-3 col-sm-6">
                    <p> <%= opps.custNum %> </p>
                    
                </div>
            <% }) %>
            
            
        </div>
        
        
    </div>

<a class='btn btn-primary btn-md' href='/opps/new'>Add new opp</a>
<hr>
<a href='/'>go home</a>