
<h1>add a new opp here</h1>



    <div class="container">
        <div class="row">   
            <form action="/opps" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Customer Number" name="custNum"></input>
                    <p id="custName"></p>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Sales Rep Name" name="salesRep"></input>
                </div>
               <div class="form-group">
                    <input class="form-control" type="text" placeholder="Close Date" name="closeDate"></input>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Opportunity/Job Name" name="oppName"></input>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="address" name="address"></input>
                </div>
                <div class="selectpicker" data-style="btn-info">
                    <select name="qqType" id="panel1">
                      <option value="addressOnly">Address Only</option>
                      <option value="sketch">Sketch</option>
                      <option value="blueprints">Blueprints</option>
                      <option value="other">Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="structure" name="structure"></input>
                </div>
                <div class="selectpicker" data-style="btn-info">
                    <select name="panel1">
                      <option value="none">Panel</option>
                      <option value="GulfRib">GulfRib</option>
                      <option value="5VCrimp">5V Crimp</option>
                      <option value="GulfLok">GulfLok</option>
                      <option value="GulfSeam">GulfSeam</option>
                      <option value="VersaLoc">VersaLoc</option>
                      <option value="MegaLoc">MegaLoc</option>
                      <option value="GulfPBR">GulfPBR</option>
                      <option value="GulfWave">GulfWave</option>
                    </select>
                </div>
                <div class="selectpicker" data-style="btn-info">
                    <select name="coverage1">
                        <!--JS fills this in-->
                    </select>
                </div>
                
                <div class="selectpicker" data-style="btn-info">
                    <select name="panel2">
                      <option value="none">Alt Panel if desired</option>
                      <option value="GulfRib">GulfRib</option>
                      <option value="5VCrimp">5V Crimp</option>
                      <option value="GulfLok">GulfLok</option>
                      <option value="GulfSeam">GulfSeam</option>
                      <option value="VersaLoc">VersaLoc</option>
                      <option value="MegaLoc">MegaLoc</option>
                      <option value="GulfPBR">GulfPBR</option>
                      <option value="GulfWave">GulfWave</option>
                    </select>
                </div>
                <div class="selectpicker" data-style="btn-info">
                    <select name="coverage2">
                        <!--JS fills this in-->
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="hem" name="hem"></input>
                </div>
                    <button class="btn btn-md btn-primary btn-block">Submit</button>
                </div>
            </form>
        
        </div>
        
        
        
        
        
        
        
    </div>
    
    
<script src="/js/oppsnew.js"></script>