<% include ../partials/header %>

<div class="container">  
    <h1>add a new opp here</h1>

</div>

    <div class="container">
        <div class="row">   
            <form action="/opps" method="POST">
                <div class="form-group form-inline">
                    <input class="form-control" type="text" placeholder="Customer Number" name="custNum"></input>
                    <p id="custName"></p>
                </div>
                <div class="form-group form-inline">
                    <input class="form-control" type="text" placeholder="Rep initials" value="<%= currentUser.initials %>" name="salesRep"></input>
                </div>
               <div class="form-group form-inline">
                    <input class="form-control" type="date" placeholder="Close Date" name="closeDate"></input>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="address" name="address"></input>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Opportunity/Job Name" name="oppName"></input>
                </div>

                <div class="form-group" data-style="btn-info">
                    <select class="form-control" name="qqType">
                      <option value="addressOnly">Address Only</option>
                      <option value="sketch">Sketch</option>
                      <option value="blueprints">Blueprints</option>
                      <option value="other">Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="structure" name="structure"></input>
                </div>
                <div class="form-group form-inline" data-style="btn-info">
                    <select class="form-control" name="panel1">
                      <option value="none">Panel</option>
                      <option value="GulfRib">GulfRib</option>
                      <option value="5VCrimp">5V Crimp</option>
                      <option value="GulfLok">GulfLok</option>
                      <option value="GulfSeam">GulfSeam</option>
                      <option value="VersaLoc">VersaLoc</option>
                      <option value="MegaLoc">MegaLoc</option>
                      <option value="GulfPBR">GulfPBR</option>
                      <option value="GulfWave">GulfWave</option>
                    </select>
                    Coverage:
                    <select class="form-control" name="coverage1">
                        <!--JS fills this in-->
                    </select>
                    Hem: 
                    <select class="form-control" type="text" placeholder="hem" name="hem">
                        <option value="NA">NA</option>
                        <option value='2"'>2"</option>
                        <option value='3"'>3"</option>
                        <option value='1"'>1</option>
                    </select>
                </div>
                <div class="form-group form-inline" data-style="btn-info">
                    <select class="form-control" name="panel2">
                      <option value="">Alt Panel if desired</option>
                      <option value="GulfRib">GulfRib</option>
                      <option value="5VCrimp">5V Crimp</option>
                      <option value="GulfLok">GulfLok</option>
                      <option value="GulfSeam">GulfSeam</option>
                      <option value="VersaLoc">VersaLoc</option>
                      <option value="MegaLoc">MegaLoc</option>
                      <option value="GulfPBR">GulfPBR</option>
                      <option value="GulfWave">GulfWave</option>
                    </select>
                    <select class="form-control" name="coverage2">
                        <!--JS fills this in-->
                    </select>
                </div>

                <div class="form-group" data-style="btn-info">
                    <button class="btn btn-md btn-primary btn-block">Submit</button>
                </div>
            </form>
            

        
        </div>

        
    </div>
    




<script>
    let panel1Select = $('select[name="panel1"]');
    let coverage1Select = $('select[name="coverage1"]');
    panel1Select.change(function(){
        if($(this).val()=="GulfRib" || $(this).val()=="GulfPBR"){
            coverage1Select.html('<option value="36\"">36"</option>');
        } else if($(this).val()=="5VCrimp") {
            coverage1Select.html('<option value="24\"">24"</option>');
        } else if($(this).val()=="GulfWave") {
            coverage1Select.html('<option value="29.5\"">29.5"</option>');
        } else if($(this).val()=="GulfLok") {
            coverage1Select.html('<option value="16\"">16"</option>' +
                                 '<option value="12\"">12"</option>');
        } else if($(this).val()=="GulfSeam" || $(this).val()=="VersaLoc" || $(this).val()=="MegaLoc") {
            coverage1Select.html('<option value="16\"">16"</option>' +
                                    '<option value="18\"">18"</option>' + 
                                    '<option value="14\"">14"</option>') ;
        }
    }); 
    
    let panel2Select = $('select[name="panel2"]');
    let coverage2Select = $('select[name="coverage2"]');
    panel2Select.change(function(){
        if($(this).val()=="GulfRib" || $(this).val()=="GulfPBR"){
            coverage2Select.html('<option value="36\"">36"</option>');
        } else if($(this).val()=="5VCrimp") {
            coverage2Select.html('<option value="24\"">24"</option>');
        } else if($(this).val()=="GulfWave") {
            coverage2Select.html('<option value="29.5\"">29.5"</option>');
        } else if($(this).val()=="GulfLok") {
            coverage2Select.html('<option value="16\"">16"</option>' +
                                 '<option value="12\"">12"</option>');
        } else if($(this).val()=="GulfSeam" || $(this).val()=="VersaLoc" || $(this).val()=="MegaLoc") {
            coverage2Select.html('<option value="16\"">16"</option>' +
                                    '<option value="18\"">18"</option>' + 
                                    '<option value="14\"">14"</option>') ;
        }
    }); 
</script>    


<script>
    // AJAX call to GET name from num
    
    let custNum = $('input[name="custNum"]')
    let custName = $('#custName')
    custNum.change(function(){
        console.log('change!')
        console.log($(this).val())
        $.ajax({
            type: 'POST',
            url: '/df',
            data: {
                custNum: $(this).val(),
            },
            success: function(data){
                console.log(data);
                custName.text(data);
            },
            error: function(){
                console.log('no data')
            }
        });
    })




</script>




<% include ../partials/footer %>