<% include ./partials/header %>

<div class="container">
<h1>Homepage</h1>
    <p><a href="/opps">Opps list</a> </p>
    <p><a href="/users">Users list</a></p>
    <p><a href="/quotes">Quote list</a></p>
    <p><a href="/custs">Customer list</a></p>
</div>
<% include ./partials/footer %>