<!--BROKE the fetch button--look to use datatables here instead-->

<% include ./partials/header %>

<div class="container">
<h1>upload stuff...</h1>
    <div class="container">
        <div class="row">   
            <form action="/upload" method="POST" enctype='multipart/form-data'>
                <div class="form-group">
                    <input class="form-control" type="file" name="productsCsv"></input>
                </div>
                <div class="form-group" data-style="btn-info">
                    <button class="btn btn-md btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <hr>

    <a href='javascript:void(0)' class='btn btn-primary' id='importdata'>Import CSV</a>
    
    <a href='javascript:void(0)' class='btn btn-primary' id='fetchdata'>Fetch Data</a>
    <hr>
    <table>
        <thead>
            <th>Stock Code</th>
            <th>Color</th>
            <th>Product Code</th>
            <th>Metal Code</th>
            <th>Price Code</th>
            <th>Price</th>
            <th>Description</th>
        </thead>
        <tbody id="trdata">
            <tr></tr>
        </tbody>
    </table>
</div>


<script>
    $(function(){
   
    /** Click on Fetch data and display in HTML table **/

    $("#fetchdata").on('click', function(){

        $.get( "/fetchdata", function( data ) {
            var products = data['data'];
            $("#trdata").html('');
            $("#message").hide();
            var string = '';
            $.each(products, function(index, product ) {
                string += '<tr><td>'+(index+1)+'</td><td>'+product['stockCode']
                    +'</td><td>'+product['colorCode']+'</td><td>'+product['productCode']
                    +'</td><td>'+product['gauge']+'</td><td>'+product['priceCode']+'</td>+'</td><td>'
                    +product['description']+'</td>+'</td></tr>';
            });
            $("#trdata").html(string);
        });
    });
 
    /** Import data after click on a button */

    $("#importdata").on('click', function(){
        $.get( "/import", function( data ) {
            $("#message").show().html(data['success']);
        });
    });
});
</script>

<% include ./partials/footer %>
