<% include ../partials/header %>

<div class="container">  
    <h1>add a new opp here</h1>

</div>

    <div class="container">
        <div class="row">   
            <form action="/quotes" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="TotalPrice" name="totalPrice"></input>
                </div>
            </form>
        
        </div>
        
        
        
        
        
        
        
    </div>





<% include ../partials/footer %>