<% include ../partials/header %>

<div class="container">
    <div>
                <p>Username: <strong><%= user.username  %></strong></p>s
                <p>Initials: <%= user.initials %> </p>
                <p>Role: <%= user.role %>
    </div>
    

</div>


<% include ../partials/footer %>